.body {
  position: absolute;
  width: 80%;
  padding: 0;
  top: 20%;
  left: 5%;
}
.body .textOfbody {
  font-size: large;
  font-weight: bold;
  color: rgb(66 160 165);
}
.body .content {
  display: block;
  resize: none;
  width: 100%;
  height: 29em;
  padding: 3px;
  border: none;
  background-color: #f8f8ff;
  box-shadow: 0 0 6px rgb(155, 179, 224);
}
.body .content:focus {
  outline: none;
  box-shadow: 2px 2px 9px rgb(224, 200, 155);
  background-color: #f8f8ff;
}
