.editor {
  display: block;
  position: absolute;
  width: 30%;
  height: 80%;
  background-color: rgb(56 46 45 / 70%);
  margin: 5% 30%;
  border-top-left-radius: 5%;
  border-bottom-right-radius: 10px;
  box-shadow: 2px 2px 5px;
}
.editor .closer {
  position: absolute;
  top: -7%;
  right: -8%;
  display: inline-block;
  width: 10%;
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  background-color: rgb(220, 228, 235);
  border-radius: 50%;
}
.editor .closer:hover {
  background-color: red;
  cursor: pointer;
}

.editor .add {
  position: absolute;
  bottom: 3.5%;
  right: -12%;
  display: inline-block;
  width: 20%;
  padding: 10px 4px;
  text-align: center;
  font-size: large;
  font-weight: bolder;
  background-color: rgba(21, 103, 175, 0.76);
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
}
.editor .add:hover {
  cursor: pointer;
  background-color: rgba(21, 103, 175);
}
